// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/ext_power.h>
// #include <dt-bindings/zmk/mouse.h>
#include "definitions.h"

// Home row mods
#define HRML(k1,k2,k3,k4) &lt MEDIA k1 &ht LALT k2  &ht LCTRL k3  &ht LSHFT k4
#define HRMR(k1,k2,k3,k4) &ht RSHFT k1  &ht RCTRL k2  &ht RALT k3  &ht LGUI k4
#define HRNL(k1,k2,k3,k4) &ht LGUI k1 &ht LALT k2  &ht LCTRL k3  &ht LSHFT k4

&lt { flavor = "tap-preferred"; tapping-term-ms = <TAPPING_TERM>; quick-tap-ms = <QUICK_TAP>; };
&mt { flavor = "tap-preferred"; tapping-term-ms = <TAPPING_TERM>; quick-tap-ms = <QUICK_TAP>; };
&caps_word { continue-list = <F_UNDS F_MINS BSPC RSHFT LSHFT F_ADIA F_ODIA F_ARNG>; };

/* Combos
 * .----------------------------------.                .----------------------------------.  .----------------------------------. .----------------------------------.
 * |   0  |   1  |   2  |  3   |   4  |                |  5   |   6  |   7  |   8  |   9  |  |   0  |   1  |   2  |  3   |   4  | |  5   |   6  |   7  |   8  |   9  |
 * |   ↓AltF4 ↓  -  ↓   +  ↓   |      |                |      |  ↓---"--↓--'--↓---Å---↓   |  |      |      |      |      |      | |      |  ↓----Windows lock-----↓  |
 * |      |     /   /  /   /   |      |                |      |      |   \   \     |      |  |      |      |      |      |      | |      |      |      |      |      |
 * |------+----/ / /--/ * /----|------|                |------+------+----\ \ \----+------|  |------+------+------+------+------| |------+------+------+------+------|
 * |      |   /   /  /   / 14  |  15  |                |  16  |  17  |  18 \   \   |  20  |  |  11  |  12  |  13  |  14  |  15  | |  16  |  17  |  18  |  19  |  20  |
 * |  11  |  12  |  13  |  ↓MyComp↓   |                |      |      |      |  19  |      |  |      |  ↓-Numpad toggle-↓ |      | |      |  ↓----Windows sleep----↓  |
 * |      |  \   \  \   \      |      |                |      |     /   /  /   /   |      |  |  ↓---------BASE---------↓ |      | |      |      |      |      |      |
 * |------+---\ [ \--\ ( \ ----+------|                |------+----/ ) /--/ ] /----+------|  |------+------+------+------+------| |------+------+------+------+------|
 * |      |    \   \  \   \    |      |                |      |   /   /  /   /     |      |  |  ↓---Windows restart---↓  |      | |      |  ↓--Windows Power off--↓  |
 * |      |  ↓-esc-↓--tab--↓-Calc-↓   |                |      |      |   ↓CpsWrd↓  |      |  |      |      |      |      |      | |      |      |      |      |      |
 * |  21  |  22  |  23  |  24  |  25  |                |  26  |  27  |  28  |  29  |  30  |  |  21  |  22  |  23  |  24  |  25  | |  26  |  27  |  28  |  29  |  30  |
 * '-------------+------+------+------+------.  .------+------+---------------------------'  '------+---------------------------' '------+---------------------------'
 *                             |  31  |  32  |  |  33  |  34  | 
 *                             |      |      |  |      |      |
 *                             '-------------'  '-------------' 
 * .----------------------------------.                .----------------------------------.
 * |   0  |   1  |   2  |  3   |   4  |                |  5   |   6  |   7  |   8  |   9  |
 * |      |      |      |      |      |                |      |      |      |      |      |
 * |      |   \   \   \   \    |      |                |      |      |      |      |      |
 * |------+----\ _ \---\ = \---+------|                |------+------+------+------+------|
 * |  11  |     \   \   \   \  |  15  |                |  16  |  17  |  18  |  19  |  20  |
 * |      |  12  |  13  |  14  |      |                |      |      |      |      |      |
 * |      |     /   /  /   /   |      |                |      |   \   \  \   \     |      |
 * |------+----/ < /--/ { /----+------+                |------+----\ } \--\ > \----+------|
 * |      |   /   /  /   /     |      |                |      |     \   \  \   \   |      |
 * |      |      |      |      |      |                |      |      |      |      |      |
 * |  21  |  22  |  23  |  24  |  25  |                |  26  |  27  |  28  |  29  |  30  |
 * '--------------------+------+------+------.  .------+------+------+------+------+------'
 *                             |  41  |  42  |  |  45  |  46  |
 *                             |      |      |  |      |      |
 *                             '-------------'  '-------------' */
 

/ { combos { compatible = "zmk,combos";
        combo_MINS { timeout-ms = <40>; key-positions = <1 2>; bindings = <&kp F_MINS>; };               // -
        combo_PLUS { timeout-ms = <40>; key-positions = <2 3>; bindings = <&kp F_PLUS>; };               // + 
        combo_ASTR { timeout-ms = <40>; key-positions = <3 13>; bindings = <&kp F_ASTR>; };              // *
        combo_FSLH { timeout-ms = <40>; key-positions = <2 12>; bindings = <&kp F_FSLH>; };              // / 
        combo_UNDS { timeout-ms = <40>; key-positions = <1 13>; bindings = <&kp F_UNDS>; };              // _
        combo_EQL { timeout-ms = <40>; key-positions = <2 14>; bindings = <&kp F_EQL>; };                // =
        combo_BSLH { timeout-ms = <40>; key-positions = <7 19>; bindings = <&kp F_BSLH>; };              // Backslash	
        combo_LPRN { timeout-ms = <40>; key-positions = <13 24>; bindings = <&kp F_LPRN>; };             // (
        combo_LBKT { timeout-ms = <40>; key-positions = <12 23>; bindings = <&kp F_LBKT>; };             // [
        combo_LBRC { timeout-ms = <40>; key-positions = <14 23>; bindings = <&kp F_LBRC>; };             // {
        combo_LABK { timeout-ms = <40>; key-positions = <13 22>; bindings = <&kp F_LABK>; };             // <
        combo_RPRN { timeout-ms = <40>; key-positions = <18 27>; bindings = <&kp F_RPRN>; };             // )
        combo_RBKT { timeout-ms = <40>; key-positions = <19 28>; bindings = <&kp F_RBKT>; };             // ]
        combo_RBRC { timeout-ms = <40>; key-positions = <17 28>; bindings = <&kp F_RBRC>; };             // }
        combo_RABK { timeout-ms = <40>; key-positions = <18 29>; bindings = <&kp F_RABK>; };             // >
//
        combo_ARNG { timeout-ms = <40>; key-positions = <8 9>; bindings = <&kp F_ARNG>; };               // Å
        combo_QUOTE { timeout-ms = <40>; key-positions = <7 8>; bindings = <&kp F_QUOT>; };              // '
        combo_DQUOTE { timeout-ms = <40>; key-positions = <6 7>; bindings = <&kp F_DQUO>; };             // "
//
        combo_TAB { timeout-ms = <40>; key-positions = <23 24>; bindings = <&kp TAB>; };                 // TAB
        combo_ENT { timeout-ms = <40>; key-positions = <22 23>; bindings = <&kp RET>; };                 // Enter
        combo_ESC { timeout-ms = <40>; key-positions = <31 44>; bindings = <&kp ESC>; };                 // Esc		
//
        combo_clswin { timeout-ms = <40>; key-positions = <0 1>; bindings = <&kp SC_Clse>; };            // Alt+F4
        combo_cpswrd { timeout-ms = <40>; key-positions = <28 29>; bindings = <&caps_word>; };           // &CapsWord
        combo_mycomp { timeout-ms= <40>; key-positions = <14 15>; bindings = <&kp C_AL_MY_COMPUTER>; };  // Open "This PC"
        combo_calc { timeout-ms = <40>; key-positions = <24 25>; bindings = <&kp C_AL_CALC>; };          // Open calculator
		combo_snip { timeout-ms = <40>; key-positions = <3 4>; bindings = <&kp SC_Snip>; };              // windows snipping tool
//
        combo_WinLock { timeout-ms = <80>; key-positions = <6 7 8 9>; bindings = <&kp SC_Lock>; };       // Lock windows
        combo_sleep { timeout-ms = <80>; key-positions = <17 18 19 20>; bindings = <&kp C_SLEEP>; };      // windows sleep
//        combo_rst { timeout-ms = <80>; key-positions = <21 22 23 24>; bindings = <&kp win_rst>; };          // windows restart
        combo_power { timeout-ms = <80>; key-positions = <27 28 29 30>; bindings = <&kp C_PWR>; };
        combo_base { timeout-ms = <80>; key-positions = <11 12 13 14>; bindings = <&to BASE>; };         // base layer
//
        combo_NPAD { timeout-ms = <55>; key-positions = <35 36 37 38>; bindings = <&tog ARR>; };         // toggle arrow and numpad layer
    };

	behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <TAPPING_TERM>;
            quick-tap-ms = <QUICK_TAP>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮    ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  F       │  P       │  B       │    │  J       │  L       │  U       │  Y       │  Ö       │
            &kp Q      &kp W      &kp F      &kp P      &kp B           &kp J      &kp L      &kp U      &kp Y     &kp F_ODIA
        //├──────────┼──────────┼──────────┼──────────┼──────────┤    ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A/media │  R/alt   │  S/Ctrl  │  T/shift │  G       │    │  M       │  N/shift │  E/Ctrl  |  I/LGui  |  O       │
            HRML(A,        R,         S,         T)     &kp G           &kp M      HRMR(N,        E,         I,        O)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤    ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z/LGui  │  ,;      │  C       │  D       │  V       │    │  K       │  H       │  Ä       │ .:       │  X       │
           &ht Z LGUI  &kp COMMA  &kp C      &kp D      &kp V          &kp K      &kp H     &kp F_ADIA  &kp DOT    &kp X 
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤    ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                           &lt SYM RET &lt SHC SPACE  &lt ARR BSPC &lt NUM DEL
        //                                 ╰──────────┴──────────╯    ╰──────────┴──────────╯
            >;
        };

        symbol_layer {
            bindings = <
        //╭──────────────┬────────────┬──────────┬───────────┬───────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ ClsDstp      │ NewDstp    │ PrvDstp  │ NxtDstp   │ TskView   │   │          │ Ins      │ CapsL    │ NumL     │ ScrLck   │
           &kp ClsDstp    &kp NewDstp &kp PrvDstp &kp NxtDstp &kp TskView     &trans     &kp INS    &kp CAPS  &kp KP_NLCK &kp SLCK
        //├──────────────┼────────────┼──────────┼───────────┼───────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  |           │  &         │  #       │  @        │           │   │          │  ?       │  !       │  ¨       │  ~       │
           &kp F_PIPE     &kp F_AMPR   &kp F_HASH &kp F_AT     &trans         &trans    &kp F_QUES &kp F_EXLM &kp F_DIAE &kp F_TILD
        //├──────────────┼────────────┼──────────┼───────────┼───────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  ^           │            │  ¤       |  `        │           │   │          │  ´       │  §       │  ½       │          │
          &ht LGUI F_CIRC  &trans      &kp F_CURR &kp F_GRV    &trans         &trans    &kp F_ACUT &kp F_SECT &kp F_HALF  &trans
        //╰──────────────┴────────────┴──────────┼───────────┼───────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                  &trans       &trans          &trans     &trans
        //                                       ╰───────────┴───────────╯   ╰──────────┴──────────╯
            >;
        };

        num_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  F1      │  F2      │  F3      │  F4      │  F5      │   │  F6      │  F7      │  F8      │  F9      │  F10     │
            &kp F1     &kp F2     &kp F3     &kp F4     &kp F5         &kp F6    &kp F7      &kp F8     &kp F9    &kp F10
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  1       │  2       │  3       │  4       │  F11     │   │  F12     │  7       │  8       │  9       │  0       │
            HRNL(1,     2,         3,         4)        &kp F11       &kp F12     HRMR(7,     8,         9,         0)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  ^       │          │  %       │  5       │          │   │  $       │  6       │  €       │          │          │
           &kp F_CIRC  &trans    &kp F_PERC  &trans     &trans         &kp F_DLR  &kp 6     &kp F_EURO   &trans    &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │          │          │PROFILE 0 │   │          │          │          │          │  RESET   │
           &sys_reset  &trans     &trans     &trans    &bt BT_SEL 0    &trans     &trans     &trans     &trans    &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │          │PROFILE 1 │   │          │  ←       │  ↑       │  →       │BOOTLOADER│
          &bootloader  &trans     &trans     &trans    &bt BT_SEL 1    &trans     &trans     &trans     &trans    &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │PROFILE 2 │   │          │          │  ↓       │          │          │
            &trans     &trans     &trans    &bt BT_CLR &bt BT_SEL 2    &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
