/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#include "layers.h"
#include "F_aliases.h"
#include "shortcuts.h"

/ {
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            label = "BASE";
            bindings = <
/* ,------------------------------------------.                                     ,-----------------------------------------------.
 * |CapsWrd|   Q  |   W  |   F  |   P  |   B  |                                     |   J   |   L  |   U  |   Y   |   Ö    |   "    |
 * |-------+------+------+------+------+------|                                     |-------+------+------+-------+--------+--------|
 * |  Esc  | CAD/A| Alt/R|LCtl/S|Shft/T|   G  |                                     |   M   |RSft/N|RCtl/E| RAlt/I|   O    |   '    |
 * |-------+------+------+------+------+------+------------------.  ,---------------+-------+------+------+-------+--------+--------|
 * |MED/Tab|   X  |  ,;  |   C  |   D  |   V  |  LGUI |  FKEYS   |  |RGB↓NumP| BASE |   K   |   H  |   Ä  |  .:   |   Z    |   Å    |  
 * `---------------------+------+------+------+-------+----------|  |--------+------+-------+------+------+-------------------------'
                         | LShft|  CAD | SHC/ |  ARR/ | NumPad/  |  |   ↑NumP|OSShft|OS NUM |  BT  | Mute |
                         |      |  DEL |BSpace| Space |  Enter   |  |OSSYM   |      |       |      |      |
                         `---------------------------------------'  `-------------------------------------' */
&caps_word    &kp Q     &kp W      &kp F       &kp P       &kp B                                   /**/                   &kp J   &kp L       &kp U       &kp Y      &kp F_ODIA &kp DQT
&kp ESC       &lt CAD A &mt LALT R &mt LCTRL S &mt LSHFT T &kp G                                   /**/                   &kp M   &mt RSHFT N &mt RCTRL E &mt RALT I &kp O      &kp SQT
&lt MEDIA TAB &kp X     &kp F_COMM &kp C       &kp D       &kp V        &kp LGUI      &sl FKEYS    /**/ &sl RGB &to BASE  &kp K   &kp H       &kp F_ADIA  &kp F_DOT  &kp Z      &kp F_ARNG
                                   &kp LSHFT   &lt CAD DEL &lt SHC BSPC &lt ARR SPACE &lt PAD1 RET /**/ &sl SYM &sk LSHFT &sl NUM &mo BT      &kp C_MUTE
            >;
        };
		
        SYM_layer {
            label = "SYM";
            bindings = <
/* ,-------------------------------------------.                              ,-------------------------------------------.
 * |        |  NA  |   <  |   {  |  NA  |  NA  |                              |  NA  |  NA  |   }  |  >   |  NA  |   NA   |
 * |--------+------+------+------+------+------|                              |------+------+------+------+------+--------|
 * |        | CAD/[| Alt/(|LCtl/#|Shft/@|   `  |                              |   ´  |Shft/?|LCtl/!|Alt/) |  ]   |    ¨   |
 * |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+--------|
 * |        |  NA  |   ½  |   &  |   _  |  NA  |      |      |  |↓NumPd| BASE |  NA  |   "  |   \  |  |   |  NA  |   NA   |
 * `----------------------+------+------+------+------+------|  |------+------+------+------+------+----------------------'
 *                        |      |      |      |      |      |  |      |      |      |      |      |
 *                        |      |      |      |      |      |  |      |      |      |      | 	   |
 *                        `----------------------------------'  `----------------------------------' */
&trans &none          &kp F_LABK      &kp F_LBRC       &none          &none                   /**/                   &none      &none            &kp F_RBRC       &kp F_RABK      &none      &none
&trans &lt CAD F_LBKT &mt LALT F_LPRN &mt LCTRL F_HASH &mt LSHFT F_AT &kp F_GRV               /**/                   &kp F_ACUT &mt RSHFT F_QUES &mt RCTRL F_EXLM &mt RALT F_RPRN &kp F_RBKT &kp F_DIAE
&trans &none          &kp F_HALF      &kp F_AMPR       &kp F_UNDS     &none     &trans &trans /**/ &to PAD1 &to BASE &none      &kp DQT          &kp F_BSLH       &kp F_PIPE      &none      &none
                                      &trans           &trans         &trans    &trans &trans /**/ &trans   &trans   &trans     &trans           &trans
            >;
        };

        NUM_layer {
            label = "NUM";
            bindings = <
/* ,-------------------------------------------.                                 ,-------------------------------------------.
 * |        |  NA  |   (  |   %  |   =  |   £  |                                 |  NA  |  NA  |   ~  |   )  |   ¤  |   NA   |
 * |--------+------+------+------+------+------|                                 |------+------+------+------+------+--------|
 * |        |   1  | Alt/2|LCtl/3|LSft/4|   €  |                                 |   ^  |RSft/7|RCtl/8|RAlt/9|   0  |    §   |  
 * |--------+------+------+------+------+------+---------------.   ,-------------+------+------+------+------+------+--------|
 * |        |   -  |   ,  |   +  |   5  |   $  |       |       |   |      | BASE |  NA  |   6  |   /  |   .  |   *  |   NA   |
 * `----------------------+------+------+------+-------+-------|   |------+------+------+------+------+----------------------'
 *                        |      |      |      |       |       |   |      |      |      |      |      |
 *                        |      |      |      |       |       |   |      |      |      |      |      | 
 *                        `------------------------------------'   `----------------------------------' */
&trans &none      &kp F_LPRN  &kp F_PERC   &kp F_EQL    &kp F_PND                /**/                 &none      &none        &kp F_TILD   &kp F_RPRN  &kp F_CURR &none 
&trans &kp N1     &mt LALT N2 &mt LCTRL N3 &mt LSHFT N4 &kp F_EURO               /**/                 &kp F_CIRC &mt RSHFT N7 &mt RCTRL N8 &mt RALT N9 &kp N0     &kp F_SECT 
&trans &kp F_MINS &kp F_COMM  &kp F_PLUS   &kp N5       &kp F_DLR  &trans &trans /**/ &trans &to BASE &none      &kp N6       &kp F_FSLH   &kp F_DOT   &kp F_ASTR &none 
                              &trans       &trans       &trans     &trans &trans /**/ &trans &trans   &trans     &trans       &trans
            >;
        };
		
        ARR_layer {
            label = "ARR";
            bindings = <
/* ,-------------------------------------------.                                 ,--------------------------------------------------.
 * |   NA   |ClsDst|NewDst|PrvDst|NxtDst|TaskVw|                                 |  NA  |   NA  |    NA   |    NA   |  NA  |   NA   |
 * |--------+------+------+------+------+------|                                 |------+-------+---------+---------+------+--------|
 * | LGUI+D |LShift|   ←  |Ctrl/↑|   →  | PgUp |                                 |  NA  |Sft/Ins|RCtl/CLck|RAlt/NLck|ScrLck|   NA   |   
 * |--------+------+------+------+------+------+---------------.   ,-------------+------+-------+---------+---------+------+--------|
 * |   NA   |LCtrl | Home |   ↓  |  End | PgDn |       |       |   |      | BASE |  NA  |   NA  |    NA   |    NA   |  NA  |   NA   |
 * `----------------------+------+------+------+-------+-------|   |------+------+------+-------+---------+-------------------------'
 *                        |      |      |      |       |       |   |      |      |      |       |         |
 *                        |      |      |      |       |       |   |      |      |      |       |         | 
 *                        `------------------------------------'   `--------------------------------------' */
&trans &trans &trans &trans &trans &trans               /**/               &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans               /**/               &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans &trans &trans &trans 
                     &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans
            >;
        };
		
        PAD1_layer {
            label = "PAD1";
            bindings = <
/* ,-------------------------------------------.                               ,-------------------------------------------.
 * |    =   |   -  |   7  |   8  |   9  |   +  |                               |  NA  |  NA  |TaskVw|  NA  |  NA  |   NA   |
 * |--------+------+------+------+------+------|                               |------+------+------+------+------+--------|
 * |    ,   |   0  |LAlt/4|LCtl/5|LSft/6|   /  |                               | PgUp |   ←  |Ctrl/↑|   →  |RShift|  Tab   |
 * |--------+------+------+------+------+------+-------------.   ,-------------+------+------+------+------+------+--------|
 * |   Tab  |   .  |   1  |   2  |   3  |   *  |      |      |   | BASE | BASE | PgDn | Home |   ↓  |  End |RCtrl |   NA   |
 * `----------------------+------+------+------+------+------|   |------+------+------+------+------+----------------------'
 *                        |      |      |      |      |P2/Ent|   | BASE |      |      |      |      |
 *                        |      |      |      |      |      |   |      |      |      |      |      |
 *                        `----------------------------------'   `----------------------------------' */
&trans &trans &trans &trans &trans &trans               /**/               &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans               /**/               &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans &trans &trans &trans 
                     &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans
            >;
        };

        PAD2_layer {
            label = "PAD2";
            bindings = <
/* ,-------------------------------------------.                               ,-------------------------------------------.
 * |        |  NA  |  NA  |  NA  |  NA  |  NA  |                               |  NA  |  NA  |TaskVw|  NA  |  NA  |   NA   |
 * |--------+------+------+------+------+------|                               |------+------+------+------+------+--------|
 * |    ,   |   P  |   (  |   )  |   ^  |  NA  |                               | PgUp |   ←  |Ctrl/↑|   →  |RShift|  Tab   |
 * |--------+------+------+------+------+------+-------------.   ,-------------+------+------+------+------+------+--------|
 * |    =   |   .  |   €  |   $  |   £  |  NA  |      |      |   |      | BASE | PgDn | Home |   ↓  |  End |RCtrl |   NA   |
 * `----------------------+------+------+------+------+------|   |------+------+------+------+------+----------------------'
 *                        |NumLck|      |      |      |      |   |      |      |      |      |      |
 *                        |      |      |      |      |      |   |      |      |      |      |      |
 *                        `----------------------------------'   `----------------------------------' */
&trans &trans &trans &trans &trans &trans               /**/               &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans               /**/               &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans &trans &trans &trans 
                     &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans 
            >;
        };

        SHC_layer {
            label = "SHC";
            bindings = <
/* ,-------------------------------------------.                              ,-----------------------------------------.
 * | Alt+F4 |ClsTab|RstTab|PrvTab|NxtTab|PrtScr|                              |  NA  |  NA  |  NA  |  NA  |  NA  |  NA  |
 * |--------+------+------+------+------+------|                              |------+------+------+------+------+------|
 * | MyComp |Ctrl+Z|Ctrl+X|Ctrl+C|Ctrl+V| Redo |                              |  NA  |  NA  |  NA  |  NA  |  NA  |   NA   |
 * |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+------| 
 * |  Calc  |Ctrl+A|Ctrl+F|Ctrl+S|LGUI+V| Snip |      |      |  |      | BASE |  NA  |  NA  |  NA  |  NA  |  NA  |  NA  |
 * `----------------------+------+------+------+------+------|  |------+------+------+------+------+--------------------'
 *                        |      |      |      |      |      |  |      |      |      |      |      |
 *                        |      |      |      |      |      |  |      |      |      |      |      |
 *                        `----------------------------------'  `----------------------------------' */
&trans &trans &trans &trans &trans &trans               /**/               &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans               /**/               &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans &trans &trans &trans 
                     &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans
            >;
        };

        FKEYS_layer {
            label = "FKEYS";
            bindings = <
/* ,-------------------------------------------.                              ,-----------------------------------------.
 * |        |  F12 |  F7  |  F8  |  F9  |  NA  |                              |  NA  |  NA  |  NA  |  NA  |  NA  |  NA  |
 * |--------+------+------+------+------+------|                              |------+------+------+------+------+------|
 * |        |  F10 |  F4  |  F5  |  F6  |  NA  |                              |  NA  |RShift|RCtrl | RALT | LAlt |  NA  |
 * |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+------|
 * |        |  F11 |  F1  |  F2  |  F3  |  NA  |      |      |  |← GAME| BASE |  NA  |  NA  |  NA  |  NA  |  NA  |  NA  |
 * `----------------------+------+------+------+------+------|  |------+------+------+------+------+--------------------'
 *                        |      |      |      |      |      |  |      |      |      |      |      |
 *                        |      |      |      |      |      |  |      |      |      |      |      |
 *                        `----------------------------------'  `----------------------------------' */
&trans &trans &trans &trans &trans &trans               /**/               &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans               /**/               &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans &trans &trans &trans 
                     &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans
            >;
        };

        RGB_layer {
            label = "RGB";
            bindings = <
/* ,-----------------------------------------------.                              ,-----------------------------------------.
 * |RGBTggle| Brgth+ | Sat+ | Hue+ |RGBCycl→|  NA  |                              |PwrOff| Break|  NA  |  NA  |  NA  |  NA  |
 * |--------+--------+------+------+--------+------|                              |------+------+------+------+------+------|
 * | Static | Brgth- | Sat- | Hue- |RGBCycl←|  NA  |                              | Sleep| Pause|  NA  |  NA  |  NA  |  NA  |
 * |--------+--------+------+------+--------+------+-------------.  ,-------------+------+------+------+------+------+------|
 * |    NA  |   NA   |  NA  |  NA  |   NA   |  NA  |      |GAME →|  |      | BASE |W Lock|  NA  |  NA  |  NA  |  NA  |  NA  |
 * `------------------------+------+--------+------+------+------|  |------+------+------+------+------+--------------------'
 *                          |      |        |      |      |      |  |↑NumPd|      |      |      |      |
 *                          |      |        |      |      |      |  |      |      |      |      |      |
 *                          `------------------------------------'  `----------------------------------' */
&trans &trans &trans &trans &trans &trans               /**/               &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans               /**/               &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans &trans &trans &trans 
                     &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans
            >;
        };

        GAME1_layer {
            label = "GAME1";
            bindings = <
/* ,-------------------------------------------.                               ,-------------------------------------------.
 * |   Esc  |   1  |   2  |   3  |   4  |   5  |                               |   Y  |   U  |   I  |   O  |   P  |   Å    |
 * |--------+------+------+------+------+------|                               |------+------+------+------+------+--------|
 * |    M   | Shift|   A  |   W  |   D  |   E  |                               |   H  |   J  |   K  |   L  |   Ö  |   Ä    |
 * |--------+------+------+------+------+------+--------------.  ,-------------+------+------+------+------+------+--------|
 * |   Tab  | Ctrl |   Q  |   S  |   R  |   F  |   T   | Ent  |  |      | BASE |   N  |   M  |  ,;  |  .:  |   '  |   §    |
 * `----------------------+------+------+------+-------+------|  |------+------+------+------+------+----------------------'
 *                        |      | LAlt |   I  | Space | OS   |  |      |      |      |      |      |
 *                        |      |      |      |       | Game2|  |      |      |      |      |      |
 *                        `-----------------------------------'  `----------------------------------' */
&trans &trans &trans &trans &trans &trans               /**/               &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans               /**/               &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans &trans &trans &trans 
                     &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans 
            >;
        };

        GAME2_layer {
            label = "GAME2";
            bindings = <
/* ,-------------------------------------------.                               ,-------------------------------------------.
 * |   Esc  |   0  |   9  |   8  |   7  |   6  |                               |  NA  |  NA  |  NA  |  NA  |  NA  |   NA   |
 * |--------+------+------+------+------+------|                               |------+------+------+------+------+--------|
 * |    N   |   Z  |   X  |   C  |   V  |   B  |                               |  NA  |  NA  |  NA  |  NA  |  NA  |   NA   |   
 * |--------+------+------+------+------+------+-------------.   ,-------------+------+------+------+------+------+--------|
 * |    U   |   ←  |   ↓  |   ↑  |   →  |   G  |   P  |      |   |      | BASE |  NA  |  NA  |  NA  |  NA  |  NA  |CapsLock|
 * `----------------------+------+------+------+------+------|   |------+------+------+------+------+----------------------'
 *                        |      |      |      |      |      |   |      |      | BSpc |      |      |
 *                        |      |      |      |      |      |   |      |      |      |      |      |
 *                        `----------------------------------'   `----------------------------------' */
&trans &trans &trans &trans &trans &trans               /**/               &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans               /**/               &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans &trans &trans &trans 
                     &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans 
            >;
        };

        MEDIA_layer {
            label = "MEDIA";
            bindings = <
/* ,-------------------------------------------.                              ,-----------------------------------------.
 * |        |  NA  |  NA  |  NA  |  NA  |  NA  |                              |  NA  |  NA  |  NA  |  NA  |  NA  |  NA  |
 * |--------+------+------+------+------+------|                              |------+------+------+------+------+------|
 * |        |  NA  |M Prev|M Play|M Next| Vol+ |                              |  NA  |  NA  |  NA  |  NA  |  NA  |  NA  |
 * |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+------| 
 * |        |  NA  |  NA  |M Stop| Mute | Vol- |      |      |  |      | BASE |  NA  |  NA  |  NA  |  NA  |  NA  |  NA  |
 * `----------------------+------+------+------+------+------|  |------+------+------+------+------+--------------------'
 *                        |      |      |      |      |      |  |      |      |      |      |LShift|
 *                        |      |      |      |      |      |  |      |      |      |      |      |
 *                        `----------------------------------'  `----------------------------------' */
&trans &trans &trans &trans &trans &trans               /**/               &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans               /**/               &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans &trans &trans &trans 
                     &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans
            >;
        };

        CAD_layer {
            label = "CAD";
            bindings = <
/* ,-----------------------------------------.                              ,-----------------------------------------.
 * |  NA  |  NA  |  NA  |  NA  |  NA  |  NA  |                              |  NA  |  NA  |  NA  |  NA  |  NA  |  NA  |
 * |------+------+------+------+------+------|                              |------+------+------+------+------+------|
 * |  NA  |  NA  |  NA  |  NA  |  NA  |  NA  |                              |  NA  |  NA  |  NA  |  NA  |  NA  |  NA  |
 * |------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+------| 
 * |  NA  |  NA  |  NA  |  NA  |  NA  |  NA  |      |      |  |      | BASE |  NA  |  NA  |  NA  |  NA  |  NA  |  NA  |
 * `--------------------+------+------+------+------+------|  |------+------+------+------+------+--------------------'
 *                      |      |      |Delete|      |      |  |      |      |      |      |      |
 *                      |      |      |      |      |      |  |      |      |      |      |      |
 *                      `----------------------------------'  `----------------------------------' */
&trans &trans &trans &trans &trans &trans               /**/               &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans               /**/               &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans &trans &trans &trans 
                     &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans
            >;
        };

        BT_layer {
            label = "BT";
            bindings = <
/* ,-------------------------------------------.                              ,-------------------------------------------.
 * |        |      |      |      |      |      |                              |      |      |      |      |      |        |
 * |--------+------+------+------+------+------|                              |------+------+------+------+------+--------|
 * |        |      |      |      |      |      |                              |      |      |      |      |      |        |
 * |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+--------|
 * |        |      |      |      |      |      |      |      |  |      |      |      |      |      |      |      |        |
 * `----------------------+------+------+------+------+------|  |------+------+------+------+------+----------------------'
 *                        |      |      |      |      |      |  |      |      |      |      |      |
 *                        |      |      |      |      |      |  |      |      |      |      | 	   |
 *                        `----------------------------------'  `----------------------------------' */
&trans &trans &trans &trans &trans &trans               /**/               &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans               /**/               &trans &trans &trans &trans &trans &trans 
&trans &trans &trans &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans &trans &trans &trans 
                     &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans
            >;
        };
    };
};
