/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#include "layers.h"
#include "FI_aliases.h"


/ {
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            label = "BASE";
            bindings = <
/* Base layer (BASE), Colemak 
 * ,------------------------------------------.                                     ,-----------------------------------------------.
 * |CapsWrd|   Q  |   W  |   F  |   P  |   B  |                                     |   J   |   L  |   U  |   Y   |   Ö    |   Å    |
 * |-------+------+------+------+------+------|                                     |-------+------+------+-------+--------+--------|
 * |  Esc  | CAD/A| Alt/R|LCtl/S|Shft/T|   G  |                                     |   M   |RSft/N|RCtl/E| RAlt/I|   O    |   '    |
 * |-------+------+------+------+------+------+------------------.  ,---------------+-------+------+------+-------+--------+--------|
 * |MED/Tab|   X  |  ,;  |   C  |   D  |   V  |  LGUI |  FKEYS   |  |RGB↓NumP| BASE |   K   |   H  |   Ä  |  .:   |   Z    |   "    |  
 * `---------------------+------+------+------+-------+----------|  |--------+------+-------+------+------+-------------------------'
                         | LShft|  DEL | SHC/ |  ARR/ | NumPad/  |  |   ↑NumP|OSShft|OS NUM |  BT  | Mute |
                         |      |      |BSpace| Space |  Enter   |  |OSSYM   |      |       |      |      |
                         `---------------------------------------'  `-------------------------------------' */
&caps_word &kp Q &kp W      &kp F      &kp P   &kp B                                                &kp J     &kp L    &kp U      &kp Y     &kp F_ODIA &kp F_ARNG
&kp ESC    &kp A &kp R      &kp S      &kp T   &kp G                                                &kp M     &kp N    &kp E      &kp I     &kp O      &kp SQT
&kp TAB    &kp X &kp F_COMM &kp C      &kp D   &kp V    &kp LGUI  &kp LSHFT     &kp LSHFT &to BASE  &kp K     &kp H    &kp F_ADIA &kp F_DOT &kp Z      &kp DQT
                             &kp LSHFT &kp DEL &kp BSPC &kp SPACE &kp RET       &kp RET   &sk LSHFT &kp LSHFT &kp BSPC &kp RALT
            >;
        };
		
        SYM_layer {
            label = "SYM";
            bindings = <
/* Symbol layer (SYM)
 * ,-------------------------------------------.                              ,-------------------------------------------.
 * |        |  NA  |   <  |   {  |  NA  |  NA  |                              |  NA  |  NA  |   }  |  >   |  NA  |   NA   |
 * |--------+------+------+------+------+------|                              |------+------+------+------+------+--------|
 * |        |   [  |   (  |   #  |   @  |  NA  |                              |  NA  |   ?  |   !  |  )   |  ]   |    ¨   |
 * |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+--------|
 * |        |   _  |   ½  |   &  |   `  |  NA  |      |      |  |↓NumPd| BASE |  NA  |   ´  |   \  |  |   |  NA  |   NA   |
 * `----------------------+------+------+------+------+------|  |------+------+------+------+------+----------------------'
 *                        |      |      |      |      |      |  |      |      |      |      |      |
 *                        |      |      |      |      |      |  |      |      |      |      | 	   |
 *                        `----------------------------------'  `----------------------------------' */
&trans     &none       &kp F_LABK &kp F_LBRC &none     &none                                           &none     &none      &kp F_RBRC &kp F_RABK &none      &none
&trans     &kp F_LBKT  &kp F_LPRN &kp F_HASH &kp F_AT  &none                                           &none     &kp F_QUES &kp F_EXLM &kp F_RPRN &kp F_RBKT &kp F_DIAE
&trans     &kp F_UNDS  &kp F_HALF &kp F_AMPR &kp F_GRV &none  &trans &trans        &kp LSHFT &kp LSHFT &none     &kp F_ACUT &kp F_BSLH &kp F_PIPE &none      &none
                                  &trans     &trans    &trans &trans &trans        &trans    &trans    &trans    &trans     &trans
            >;
        };
    };
};
